target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

.git/

### Compiled class file ###
*.class

### Package Files ###
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

### Log file ###
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
